  h1 {
      color: pink;
      font-size: 24 pt;
}
  h2 {
      color: pink;
      font-size: 14 pt;
}
  body {
    background-color: LemonChiffon;
    font-size: 18 pt;
    font-family: "Comic Sans MS", cursive, sans-serif;
}
  img {
  width: 25%;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
}
      
